.stagesContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	gap: 30px;
}

.stepsInfo {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 20px;
}

.stepsList {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	gap: 20px;
}

.generalInfo {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	gap: 20px;
}

.infoWrap {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	gap: 20px;
}

.infoTitle {
	font-size: 28px;
	font-weight: 500;
}

.infoSubtitle {
	font-size: 20px;
}

.imgWrap {
	min-width: 360px;
	width: 100%;
	/* height: 280px; */
}

.benefits {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: stretch;

	gap: 20px;
}

.benefitPhoto {
	display: none;
	background-color: var(--background-sand);
	border-radius: var(--border-radius);
}

.image {
	height: 100%;
}

.stagesBtnWrap {
	flex-basis: 90%;
}

@media screen and (min-width: 480px) {
	.stepsList {
		flex-direction: row;
		flex-wrap: wrap;
		align-items: stretch;

		gap: 20px;
	}

	.infoTitle {
		font-size: 32px;
	}

	.infoSubtitle {
		font-size: 22px;
	}
}

@media screen and (min-width: 768px) {
	.infoTitle {
		font-size: 36px;
	}

	.infoSubtitle {
		font-size: 26px;
	}

	.benefits {
		flex-direction: row;
		flex-wrap: wrap;
	}

	.stagesBtnWrap {
		flex-basis: 49%;
		align-self: center;
	}
}

@media screen and (min-width: 1280px) {
	.generalInfo {
		flex-direction: row;
		gap: 30px;
	}

	.infoTitle {
		font-size: 42px;
	}

	.infoSubtitle {
		font-size: 34px;
	}

	.benefitPhoto {
		display: block;
		overflow: hidden;

		flex-basis: 32%;
		max-width: 32%;
	}

	.stagesBtnWrap {
		flex-basis: 32%;
		align-self: flex-start;
	}
}
