.block {
	display: flex;
	gap: 4px;

	background-color: transparent;
}

.rev {
	flex-direction: row-reverse;
}

.biggerChild {
	flex-basis: 66%;
	padding: 4px;
	background-color: var(--background-white);
}

.biggerImg,
.smallerImg {
	object-fit: cover;
	height: 20vh;
}

.smallerChild {
	flex-basis: 33%;
	padding: 4px;
	background-color: var(--background-white);

	object-fit: cover;
}

@media screen and (min-width: 767px) {
	.block {
		gap: 6px;
	}

	.biggerChild,
	.smallerChild {
		padding: 6px;
	}

	.biggerImg,
	.smallerImg {
		object-fit: cover;
		height: 30vh;
	}
}

@media screen and (min-width: 1280px) {
	.block {
		gap: 10px;
	}

	.biggerImg,
	.smallerImg {
		object-fit: cover;
		height: 45vh;
	}

	.biggerChild,
	.smallerChild {
		padding: 10px;
	}
}
