.option {
	position: relative;
	padding: 20px;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	gap: 20px;

	width: 100%;

	background-color: var(--background-sand);
	border-radius: var(--border-radius);
}

.optionTitle,
.optionPrice {
	text-align: center;

	font-size: 24px;
	font-weight: 600;
}
.optionTitle {
}

.optionTitle:after {
	content: " ";
	position: absolute;
	left: 20px;
	top: 60px;
	width: 87%;
	height: 1px;
	background: var(--accent);
	transition: all 0.45s;
}

.optionDetailsList {
	padding-left: 30px;
	align-self: flex-start;
	list-style: square;

	font-size: 22px;
}

@media screen and (min-width: 768px) {
	.option {
		padding: 24px;
		flex-basis: 48%;
		gap: 24px;
	}

	.optionTitle,
	.optionPrice {
		font-size: 26px;
	}

	.optionTitle:after {
		top: 67px;
	}
}

@media screen and (min-width: 1280px) {
	.option {
		padding: 32px;
		flex-basis: 23%;

		gap: 28px;
	}

	.optionTitle,
	.optionPrice {
		font-size: 28px;
	}

	.optionTitle:after {
		top: 75px;
	}
}
