.imgContainer {
	margin-top: 20px;
	padding: 4px;
	background-color: var(--background-white);

	object-fit: cover;
}

@media screen and (min-width: 767px) {
	.imgContainer {
		padding: 6px;
	}
}

@media screen and (min-width: 1280px) {
	.imgContainer {
		padding: 10px;
	}
}
